<nav>
  <a href="/">MusicMood</a>
  <a href="/songs">View all songs</a>
  <a href="/playlists/new">Create a playlist</a>
  <% if (user) { %>
  <a href="/auth/sign-out">Sign out</a>
  <a href="/profile/<%= user._id %>"><%= user.username %></a>
  <% } else { %>
  <!-- <a href="/auth/sign-up">Sign up</a> -->
  <button
    type="button"
    class="btn btn-primary"
    data-bs-toggle="modal"
    data-bs-target="#signUpModal"
  >
    Sign up
  </button>
  <!-- <a href="/auth/sign-in">Sign in</a> -->
  <button
    type="button"
    class="btn btn-primary"
    data-bs-toggle="modal"
    data-bs-target="#signInModal"
  >
    Sign in
  </button>

  <% } %>
</nav>
