<nav>
  <div class="destination">
    <a href="/">MusicMood</a>
    <a href="/songs">View all songs</a>
    <a href="/playlists/new">Create a playlist</a>
  </div>

  <div class="action">
    <% if (user) { %>
    <div id="action-after-signin">
      <a href="/auth/sign-out">Sign out</a>
      <a href="/profile/<%= user._id %>" class="profile-btn"><%= user.username %></a>
    </div>
    <% } else { %>
    <!-- <a href="/auth/sign-in">Sign in</a> -->
    <button
      id="sign-in-button"
      type="button"
      class="btn btn-primary"
      data-bs-toggle="modal"
      data-bs-target="#signInModal"
    >
      Sign in
    </button>
    <!-- <a href="/auth/sign-up">Sign up</a> -->
    <button
      id="sign-up-button"
      type="button"
      class="btn btn-primary"
      data-bs-toggle="modal"
      data-bs-target="#signUpModal"
    >
      Sign up
    </button>
    <% } %>
  </div>
</nav>
