<!-- views/index.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>All The Playlists</title>
  </head>
  <body>
    <%- include("../partials/nav.ejs") %>

    <h1>All The Playlists</h1>
    <ul>
      <% allSongs.forEach(song => { %>
      <li>
        <a href="/playlists/<%= playlist._id %>"><%= playlist.name %> </a>
      </li>
      <% }) %>
    </ul>
  </body>
</html>
